**/*.tar.gz
*dataset*
**/__pycache__/
**/.vscode/
**/*ckpt*/
**/*.pt
**/gens/

checkpoints_drum/*
checkpoints_drum_gpu/*
drum_dataset/*
drum_prepare/*
remi_dataset/*
*.zip

!drum_dataset/.gitkeep
!drum_prepare/.gitkeep
!remi_dataset/.gitkeep